@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lemon&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nova+Round&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,700;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lemon&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nova+Round&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&family=Ubuntu:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  scroll-behavior: smooth;
  /* font-family: "Rubik Mono One", monospace; */
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Laptop Size */

@media (min-width: 320px) {
  /* Navigation Bar ---------------------------------------------------- */
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding: 10px 30px 10px 50px;
    width: 90%;
    margin-top: 10px;
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(255, 255, 254, 0.822);
    transition: 0.4s ease-in-out;
  }

  /* Logo */
  .navbar .page_logo > a {
    color: white;
    text-decoration: none;
  }

  /* Navbar Links */
  .navbar > ul {
    display: flex;
    gap: 70px;
    width: auto;
    justify-content: space-between;
    list-style: none;
  }

  .navbar > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
  }

  #contact_btn {
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 40px;
    transition: 0.3s ease;
  }

  #contact_btn:hover {
    transform: translateY(3px);
    color: #2e2e2e;
    background-color: white;
    border: 2px solid #2e2e2e;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.685);
  }

  /* Hero section ----------------------------------------------------------*/
  .hero_section {
    height: 100vh;
    background-image: url(images/herobg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px -15px 20px rgba(0, 0, 0, 0.5);
  }

  .hero_contents {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 10%;
  }

  .hero_section .arrow_down {
    font-size: 40px;
    position: absolute;
    right: 50%;
    top: 90%;
    animation: arrowdown_breath 2s infinite;
  }

  .hero_section .arrow_down > a {
    color: #2e2e2e;
  }

  @keyframes arrowdown_breath {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* Hero Infos -----------------*/
  .hero_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    gap: 30px;
    width: 60%;
    transform: translate(120px, 10px);
  }

  .title > h1 {
    position: relative;
  }

  .hero_info .title > h1 {
    min-width: 500px;
    font-size: clamp(40px, 4vw, 300px);
    font-family: "Rubik Mono One", monospace;
  }

  #my_name {
    font-size: clamp(50px, 5vw, 90px);
    color: #ff9525;
  }

  .title > h1 > img {
    position: absolute;
    top: -78px;
    left: 0px;
    width: clamp(20px, 20vw, 100px);
  }

  .hero_info .title > p {
    max-width: 800px;
    font-size: clamp(20px, 1.6vw, 40px);
    font-weight: 400;
    padding-top: 10px;
  }

  /* Hero Image ---------------------*/
  .hero_image {
    display: flex;
    align-items: flex-end;
    width: 40%;
    position: relative;
  }

  .hero_image > img {
    position: absolute;
    margin-bottom: 0;
    max-width: 100%;
    display: block;
  }

  /* Hero Button -------------------- */
  .herobtn {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .herobtn > a {
    text-decoration: none;
    color: #2e2e2e;
    background-color: #ffb15b;
    font-size: clamp(15px, 1.4vw, 40px);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    transition: 0.2s ease;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.575);
  }

  .herobtn > a:hover {
    transform: translate(0px, -5px);
    color: white;
    background-color: #2e2e2e;
    transform: scale(1.1, 1.1);
  }

  .herobtn > i {
    font-size: 30px;
  }

  /* Social Links -------------------- */

  .social_links {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 5px;
    gap: 30px;
  }

  .social_links > a {
    color: #2e2e2e;
    font-size: 50px;
    transition: 0.2s;
  }

  .social_links > a:hover {
    transform: scale(1.5, 1.5);
  }

  /* Project Section -----------------------------------------------------*/

  .projects {
    background-color: #2e2e2e;
    /* background: linear-gradient(
      330deg,
      #010101,
      #2e2e2e,
      #1e0f00,
      #6f3e0a,
      #ca7112,
      #2e2e2e,
      #2e2e2e
    );
    background-size: 200% 200%;
    animation: bgcolor 10s ease-in-out infinite; */
  }

  @keyframes bgcolor {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .projects > h1 {
    font-size: 60px;
    font-family: "Rubik Mono One", monospace;
    text-decoration: underline;
    text-align: center;
    padding: 80px;
    color: white;
  }

  .project_cards {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    width: auto;
    gap: 50px;
  }

  .card {
    display: flex;
    justify-content: center;
    row-gap: 5px;
    column-gap: 30px;
    flex-wrap: wrap;
    position: relative;
  }

  #projectImg {
    max-width: 600px;
    min-width: 200px;
  }

  .project_image > img {
    max-width: 600px;
    min-width: 200px;
    position: absolute;
    top: 0;
    left: -50px;
  }

  .project_image > a > img {
    width: 100%;
    border-radius: 20px;
    max-width: 600px;
    min-width: 200px;
    height: auto;
    transition: 0.2s;
  }

  .project_image > a > img:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 20px rgba(255, 255, 254, 0.822);
  }

  .project_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 700px;
    min-width: 300px;
    color: white;
  }

  .project_info > a > h1 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 35px;
  }

  .project_info > p {
    font-size: 1.4rem;
  }

  .project_info #visit_link {
    width: 180px;
    text-align: center;
    padding: 5px 10px;
    color: #ffb15b;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.2s;
  }

  .project_info #visit_link:hover {
    background-color: #ffb15b;
    color: #2e2e2e;
  }

  /* Extras Section --------------------------- */

  .extras {
    background-image: url(images/herobg3.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .animation > img {
    width: 100%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }

  .extras > h1 {
    font-size: 60px;
    color: #2e2e2e;
    font-family: "Rubik Mono One", monospace;
    text-decoration: underline;
    text-align: center;
    padding: 40px 80px 0px;
  }

  .extras > h3 {
    font-size: 30px;
    color: #2e2e2e;
    padding: 30px 80px;
    text-align: center;
  }

  /* .extra_cards {
    display: grid;
    justify-content: center;
    width: auto;
    position: relative;
    z-index: 2;
    padding: 50px 90px 90px;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  } */

  .extra_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    z-index: 2;
    margin: 0 90px 0;
    padding-bottom: 50px;
    column-gap: 40px;
    row-gap: 25px;
  }

  .extra_card {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: #2e2e2e;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.2s;
    min-width: 300px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.774);
  }

  .extra_card:hover {
    transform: translateY(-10px);
  }

  .extra_card > h1 {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px;
  }

  .extra_card > a {
    color: #ffb15b;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0px 0px 20px;
    border-radius: 10px;
    border: 2px solid #ffb15b;
    transition: 0.2s;
  }

  .extra_card > a:hover {
    background-color: #ffb15b;
    color: #2e2e2e;
  }

  .extra_card > .extra_image > a > img {
    max-width: 560px;
    transition: 0.2s;
  }

  /* Footer Section ---------------------------------------------------- */
  footer {
    display: flex;
    background-color: #2e2e2e;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 20px 0px;
    background: linear-gradient(
      330deg,
      #010101,
      #2e2e2e,
      #1e0f00,
      #6f3e0a,
      #ca7112,
      #2e2e2e,
      #2e2e2e
    );
    background-size: 200% 200%;
    animation: bgcolor 10s ease-in-out infinite;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  /* Navigation Bar ---------------------------------------------------- */
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding: 5px 30px 5px 50px;
    width: 90%;
    margin-top: 10px;
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(255, 255, 254, 0.822);
    transition: 0.4s ease-in-out;
  }

  /* Logo */
  .navbar .page_logo > a {
    color: white;
    font-size: 15px;
    text-decoration: none;
  }

  /* Navbar Links */
  .navbar > ul {
    display: flex;
    gap: 20px;
    width: auto;
    justify-content: space-between;
    list-style: none;
  }

  .navbar > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
  }

  #contact_btn {
    color: white;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 40px;
    transition: 0.3s ease;
  }

  #contact_btn:hover {
    transform: translateY(3px);
    color: #2e2e2e;
    background-color: white;
    border: 2px solid #2e2e2e;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.685);
  }
}

@media (max-width: 564px) {
  .navbar {
    display: none;
  }

  .hero_image {
    display: none;
  }
}
